@colorOne: #fff;
@error: #ed1c24;
body {
  margin-right: -5px;
  //background-color: red;
  overflow-y: scroll;
  background: url(../images/memy.jpg);
  background-size: 100%;
  color: @colorOne;
}

.blackShadow {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: black;
  z-index: -1;
  opacity: .9;
}

.myButton{
  background-color: @error;
  padding: 12px 25px ;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  border: 3px solid @error;
  border-bottom:  3px solid darken(@error,20%);
  transition: all .5s ease;
  &:hover {
    transition: all .5s ease;
    background-color: transparent;
  }
}

input[type='text'],
input[type='number']{
  background-color: transparent;
  border: 0;
  //border-bottom: 3px solid green;
  color: @colorOne;
  &:focus {
    background-color: transparent;
    //border: 0;
    // border-bottom: 3px solid green;
    box-shadow:none;
  }
}
.inputVal.ng-valid {
  //background-color: pink;
  border: 0;
  border-bottom: 3px solid green;
}
.inputVal.ng-invalid {
  //background-color: red;
  border: 0;
  border-bottom: 3px solid @error;
}

select {
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid green;
  color: #696969;
  &:focus {
    color: #696969;
  }
}

header {
  background-color: @error;
  width: 100%;
  h3{
    padding: 5px;
    font-family: 'Keep Calm Medium';
    padding-left: 10%;
    text-shadow: 1px 1px 1px black;
  }
}

div.row {
  padding-top: 20px;
  margin-bottom: 40px;
  form{
    div{
      label{
        color: @colorOne;
      }
    }
  }
}